body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    display: flex;
}

section {
    flex: 1;
    padding: 20px;
}

#mathjax-area {
    border-right: 1px solid #ccc;
}

#math-content {
    margin-bottom: 20px;
}

aside {
    flex: 0 0 300px;
    /* Fixed width for the aside */
    background-color: #f4f4f4;
    padding: 20px;
    overflow-y: auto;
    /* Add scrollbar for the aside */
}

#related-links {
    max-height: calc(100vh - 80px);
    /* Adjust as needed */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}
